body {
    background-color: black;
    color: #00c52b;
    font-family: verdana;
}
body .connect{
    background-color: #2e0b0b;
    color: #fffb00;
    font-family: verdana;
}
body .mine{
    background-color: #350d0d;
    color: #fdabe2;
    font-family: verdana;
}

body input,
body label {
    display: block;
}

h1 {
    text-align: center;
}


input {
    outline: none;
    border: none;
    background-color: black;
    color: #00c52b;
    padding: .3em .5em;
    display: block;
    font-size: 1.5em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#nickname {
    background-color: rgb(9, 31, 129);
    color: #c59100;
}

label {
    display: block;
    padding: .3em .5em;
    font-size: 1.5em;
}

div.messages {
    margin-left: 1em;
}

form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

div.nickname {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
